<div class=" ">
  <div class="d-flex justify-content-between align-items-end">
    <h3 class="mt-4 mb-3">Pacientes </h3>
    <button type="button" class="rounded-6 btn-primary btn-sm " routerLink="/añadir" >Dar de alta nuevo paciente</button>
  </div>
  <table *ngIf="listPatients.length > 0" class="table table-hover">
    <thead>
      <tr class=" ">
        <th class="border-0 " scope="col">Id</th>
        <th class="border-0" scope="col">Nombre</th>
        <th class="border-0" scope="col">Especie</th>
        <th class="border-0" scope="col">Raza</th>
        <th class="border-0" scope="col">Próxima cita</th>
        <th class="border-0" scope="col">Teléfono</th>


      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let patient of listPatients" class="tr-data">
        <th>{{ patient.id }}</th>
        <td>{{ patient.name }}</td>
        <td>{{ patient.species }}</td>
        <td>{{ patient.race }}</td>
        <td>{{ patient.next_appointment }}</td>
        <td>{{ patient.phoneNumber}}</td>

        <td class="text-center">
            <button routerLink="/patient/{{patient.id}}" type="button" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></button>
            <button   routerLink="/editar/{{patient.id}}" type="button" class="btn btn-warning btn-sm ms-2"><i class="bi bi-pencil-fill"></i></button>
            <button (click)="deletePatient(patient.id!)" type="button" class="btn bg-danger  btn-sm ms-2"><i class="bi bi-trash3-fill"></i></button>
            <button  type="button" class="btn bg-secondary fw-bold text-white   btn-sm ms-2">Dar cita</button>

        </td>
      </tr>


    </tbody>
   
  </table>
  <nav class="d-flex justify-content-end" *ngIf="listPatients.length > 15" aria-label="pagination">
    <ul class="pagination">
      <li class="page-item  ">
        <a class="page-link bg-light text-dark " href="#" aria-label="Previous">
          <span class="" aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item "><a class="page-link bg-light text-dark" href="#">1</a></li>
      <li class="page-item"><a class="page-link bg-light text-dark" href="#">2</a></li>
      <li class="page-item "><a class="page-link bg-light text-dark" href="#">3</a></li>
      <li class="page-item bg-light text-dark">
        <a class="page-link bg-light text-dark" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <h5 *ngIf="listPatients.length == 0">Sin pacientes actualmente.</h5>
</div>
