<div class="container">
  <div class="d-flex justify-content-between align-items-end">
    <h3 class="mt-4 mb-3">Listado de pacientes y citas</h3>
    <button type="button" class=" btn btn-primary btn-xss" routerLink="/añadir" >Nuevo paciente</button>
  </div>
  <table *ngIf="listPatients.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th class="text-white" scope="col">Id</th>
        <th class="text-white" scope="col">Nombre</th>
        <th class="text-white" scope="col">Especie</th>
        <th class="text-white" scope="col">Raza</th>
        <th class="text-white" scope="col">Próxima cita</th>

      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let patient of listPatients" class="table-primary">
        <th>{{ patient.id }}</th>
        <td>{{ patient.name }}</td>
        <td>{{ patient.species }}</td>
        <td>{{ patient.race }}</td>
        <td>{{ patient.next_appointment }}</td>
        <td>{{ patient.phoneNumber}}</td>

        <td>
            <button routerLink="/patient/{{patient.id}}" type="button" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></button>
            <button   routerLink="/editar/{{patient.id}}" type="button" class="btn btn-warning btn-sm ms-2"><i class="bi bi-pencil-fill"></i></button>
            <button (click)="deletePatient(patient.id!)" type="button" class="btn bg-danger  btn-sm ms-2"><i class="bi bi-trash3-fill"></i></button>
        </td>
      </tr>


    </tbody>
  </table>
  <h5 *ngIf="listPatients.length == 0">Sin pacientes actualmente.</h5>
</div>
