<div class="bg-light-subtle  flex-row-reverse  d-flex h-100 w-100  ">

  <form action="" class="pb-5  w-25 d-flex flex-column justify-content-evenly   px-5  ">
    <h1 class="fw-bold  text-center text-info">Pet <span class="text-info-emphasis  ">Doctor</span></h1>
    <div class=" text-center  form-group ">
      <p class="text-info-emphasis fw-bold fs-4  mb-5">Iniciar sesión</p>

      <fieldset>
        <!-- <label class="">Usuario</label> -->
        <input id='' class=" border-0 p-2 border-bottom border-info   mb-2 " placeholder="usuario" />
      </fieldset>

      <fieldset>
        <!-- <label>Contraseña</label> -->
        <input id='' class="border-0 p-2 border-bottom border-info mb-2   "  placeholder="constraseña"/>
      </fieldset>
      <button class="text-white btn-info btn-sm fs-5  btn rounded mt-4 w-75">Acceder</button>
    </div>


  </form>
  <div class='text-log  bg-log d-flex justify-content-center align-middle w-100  '>
    <div class='align-self-center text-center text-white '>
      <h5 class='fs-1'>El mejor software veterinario</h5>
      <p class='fs-4'>Gestiona tus pacientes</p>
    </div>
  </div>
</div>
